---
layout: default
title: Properties
permalink: /properties/
---

<div id="main" role="main" class="container">

  <article class="page">

    <h1>{{ page.title }}</h1>

    <div class="entry">
      <ul>
        {% for property in site.properties %}
          <li>
            <a href="segment-poc{{ property.url }}">
            <h2>{{ property.name }}</h2>
            <h3>{{ property.canton }}</h3>
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </article>

</div>

<div class="wrapper-footer">
  <div class="container">
    <footer class="footer">
      {% include svg-icons.html %}
    </footer>
  </div>
</div>

{% include analytics.html %}

<script type="text/javascript">

  analytics.track('Product List viewed', {
    category: 'co-ownership',
    products: [
      {% for property in site.properties %}
      {
        'name': '{{ page.title }}',
        'product_id': '{{ page.product_id }}',
        'category': '{{ page.category }}',
        'canton': '{{ page.canton }}',
        'price': {{ page.price }},
        'position': {{page.position}},
        'deal_market_value': {{ page.deal_market_value }},
        'purchase_price': {{ page.purchase_price }},
        'image_url': '{{ page.image_url }}',
        'url': '{{ page.url }}',
        'online_on': {{ page.online_on }},
        'min_investment': {{ page.min_investment }},
        'mortgage_term': {{ page.mortgage_term }},
        'apartments': {{ page.apartments }},
        'return_on_equity': {{ page.return_on_equity }},
        'rental_income': {{ page.rental_income }},
        'brutto_rendite': {{ page.brutto_rendite }}
      },
      {% endfor %}
      {
        'name': 'Test',
        'product_id': '454',
        'category': 'co-ownership',
        'canton': 'Basel',
        'price': 345493855,
        'position': 6,
        'deal_market_value': 34534535,
        'purchase_price': 345345,
        'url': 'https://crowdhouse.github.io/segment-poc/property/454'
      }
    ]
  })

</script>
