<script>
!function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","reset","group","track","ready","alias","debug","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t,e){var n=document.createElement("script");n.type="text/javascript";n.async=!0;n.src="https://cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var a=document.getElementsByTagName("script")[0];a.parentNode.insertBefore(n,a);analytics._loadOptions=e};analytics.SNIPPET_VERSION="4.1.0";
analytics.load("oqKcQZwAEVp4fS2IEPG2gam3iCwcXfyN");
analytics.page();
}}();
</script>

<script type="text/javascript">

analytics.identify('10203', {
  first_name: 'Mitchell',
  last_name: 'Renton',
  email: 'mitchenton@gmail.com',
  logins: 52,
  created_at: 1583969591,
  miteg_investments: 4,
  brokerage_deals: 2,
  revenue: 25343
});

function checkoutStarted() {
    analytics.track('Checkout Started', {
      revenue: 6245,
      currency: 'CHF',
      deal_type: 'Co-ownership',
      category: 'Checkouts',
      label: 'co_ownership / investment_request',
      products: [
        {
          product_id: 143,
          name: 'Dorfstrasse 32, 8904',
          category: 'Co-ownership',
          canton: 'ZH',
          return_on_equity: 5.2,
          apartments: 6,
          deal_market_value: 3300000,
          position: 3,
          image_url: 'http://placehold.it/300x300',
          gross_return: 4.1,
          url: 'https://app-invest.crowdhouse.ch/property/143',
          online_on: 1583969591,
          finannced_on: 1583969591,
          min_investment: 100000,
          mortgage_term: 5,
          checkout_type: 'Investment request',
          price: 100000
        }
      ]
    });
};

function checkoutStepCompleted() {
    var button = document.querySelector('#button');

    analytics.track('Checkout Step Completed', {
      step: parseFloat(button.dataset.message),
      deal_type: 'Co-ownership',
      category: 'Checkouts',
      label: 'co_ownership / investment_request',
      products: [
        {
          product_id: 143,
          name: 'Dorfstrasse 32, 8904',
          category: 'Co-ownership',
          canton: 'ZH',
          return_on_equity: 5.2,
          apartments: 6,
          deal_market_value: 3300000,
          position: 3,
          image_url: 'http://placehold.it/300x300',
          gross_return: 4.1,
          url: 'https://app-invest.crowdhouse.ch/property/143',
          online_on: 1583969591,
          finannced_on: 1583969591,
          min_investment: 100000,
          mortgage_term: 5,
          checkout_type: 'Investment request',
          price: 100000
        }
      ]
    });
};

</script>
