---
layout: default
---

<div id="main" role="main" class="container">

  <article class="property">

    <h1>{{ page.title }}</h1>

    <div class="entry">
      {{ content }}
      <a href="/segment-poc/step-1/" onClick="dataLayer.push({'event': 'checkoutStarted'});" id="button-start">Go to checkout</a>
    </div>
  </article>

</div>

<div class="wrapper-footer">
  <div class="container">
    <footer class="footer">
      {% include svg-icons.html %}
    </footer>
  </div>
</div>

{% include analytics.html %}

<script>
window.dataLayer = window.dataLayer || [];
window.dataLayer.push({
 'event': 'product_detail_viewed',
 'name': '{{ property.title }}',
 'product_id': '{{ property.product_id }}',
 'category': '{{ property.category }}',
 'canton': '{{ property.canton }}',
 'price': {{ property.price }},
 'position': {{property.position}},
 'deal_market_value': {{ property.deal_market_value }},
 'purchase_price': {{ property.purchase_price }},
 'image_url': '{{ property.image_url }}',
 'url': '{{ property.url }}',
 'online_on': {{ property.online_on }},
 'min_investment': {{ property.min_investment }},
 'mortgage_term': {{ property.mortgage_term }},
 'apartments': {{ property.apartments }},
 'return_on_equity': {{ property.return_on_equity }},
 'rental_income': {{ property.rental_income }},
 'brutto_rendite': {{ property.brutto_rendite }},
 'revenue': {{ property.revenue }}
 });
</script>
