---
layout: default
---

<div id="main" role="main" class="container">

  <article class="page">

    <h1>{{ page.title }}</h1>

    <div class="entry">
      {{ content }}
      <a href="/segment-poc/step-1/" onClick="dataLayer.push({'event': 'checkoutStarted'});" id="button-start">Go to checkout</a>
    </div>
  </article>

</div>

<div class="wrapper-footer">
  <div class="container">
    <footer class="footer">
      {% include svg-icons.html %}
    </footer>
  </div>
</div>

{% include analytics.html %}

<script>
window.dataLayer = window.dataLayer || [];
window.dataLayer.push({
 'event': 'product_detail_viewed',
 'name': '{{ page.title }}',
 'product_id': {{ page.id }},
 'category': '{{ page.category }}'
 'canton': '{{ page.canton }}',
 'price': {{ page.price }},
 'deal_market_value': {{ page.deal_market_value }},
 'purchase_price': {{ page.purchase_price }},
 'image_url': '{{ page.image_url }}',
 'url': '{{ page.url }}',
 'online_on': {{ page.online_on }},
 'financed_on': {{ page.financed_on }},
 'min_investment': {{ page.min_investment }},
 'mortgage_term': {{ page.mortgage_term }},
 'apartments': {{ page.apartments }},
 'return_on_equity': {{ page.return_on_equity }}
 });
</script>
