---
layout: default
---

<div id="main" role="main" class="container">

  <article class="page">

    <h1>{{ page.title }}</h1>

    <div class="entry">
      {{ content }}

      <a href="/segment-poc/product/{{ page.product_id }}/step-2/" onClick="dataLayer.push({'event': 'checkoutStepCompleted','step': {{ page.step }},'payment_method': 'payPal','shipping_method': ''});" id="button-step-1"  data-message="1">Confirm payment details</a>
    </div>
  </article>

</div>

<div class="wrapper-footer">
  <div class="container">
    <footer class="footer">
      {% include svg-icons.html %}
    </footer>
  </div>
</div>

{% include analytics.html %}
