---
layout: default
---

<div id="main" role="main" class="container">

  <article class="page">

    <h1>{{ page.title }}</h1>

    <div class="entry">
      {{ content }}

      <a href="/segment-poc/product/{{ page.product_id }}/confirm/" onClick="dataLayer.push({'event': 'checkoutStepCompleted','step': {{ page.step }},'payment_method': 'payPal','shipping_method': 'fedEx'});" id="button-step-1" id="button-step-2" data-message="2">Confirm shipping details</a>
    </div>
  </article>

</div>

<div class="wrapper-footer">
  <div class="container">
    <footer class="footer">
      {% include svg-icons.html %}
    </footer>
  </div>
</div>

{% include analytics.html %}
